<div class="container" style=" float: right; padding-top: 5%;">
    <div style="text-align: center;">
        <h2>
            LISTA DE VENTAS
        </h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Precio</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venta of ventas">
                    <td>{{venta.cliente}}</td>
                    <td>{{venta.servicio}}</td>
                    <td>{{venta.fecha.slice(0,10)}}</td>
                    <td>{{venta.hora}}</td>
                    <td>$ {{venta.precio}}</td>
                    
                </tr>

            </tbody>
        </table>
    </div>
</div>